.header{
    position: relative;
    height: 95vh; 
    background-image:linear-gradient(to bottom right,rgba($color-primary-100, 0.8) ,rgba($color-primary-300, 0.8)), url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    color: white;
    background-color: $background-color;

    &__logo-box{
        position: relative;
        top:4rem;
        left:4rem;
    }

    &__logo{
        height: 3rem;
    }
    @include respond(tab-port)
    {
        height: 70vh;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }

} 