.u-text-center{
    text-align: center;
}
.u-background-paint{
    background-color: $background-color;
}
.u-margin-bottom-big{
    margin-bottom: 8rem;
}
.u-margin-bottom-medium{
    margin-bottom: 4rem;
}
.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}